<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {%load static%}
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel='stylesheet', href="{% static 'styles/normalize.css' %}">
  <link rel='stylesheet', href="{% static 'styles/base.css' %}">
  <link rel='stylesheet', href="{% static 'styles/layout.css' %}">
  <link rel='stylesheet', href="{% static 'styles/modules.css' %}">
  <title>Django Lender</title>
</head>
<body>
  <header>
    <h1>Book Lender</h1>
    <nav>
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        {% if not user.is_authenticated %}
        <li class="register"><a href="{% url "django_registration_register" %}">Register</a></li>
        <li class="login"><a href="{% url "login" %}">Login</a></li>
        {% else %}
        <li class="logout"><a href="{% url "logout" %}">Logout</a></li>
        <li class='books'><a href="{% url "books_list" %}">Books</a></li>
        {% endif %}
        {% if  user.is_superuser%}
        <li><a href="{% url "admin:index" %}">Admin Console</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content %}
  </main>
</body>
</html>